<div class="menu-container">
  <div class="card-header col-md-12 text-center">

            {{!--EDIT post --}}
  <div class="edit-comment-container">
    <h2>
      Edit Comment
    </h2>
    <form class="edit-comment-form">
      <label for="comment">
        Comment
      </label>
      <br />
      <textarea id="body" name="body" rows="2" cols="30">{{comment.body}}</textarea>
      <br />
      <p>{{comment.post_id}}</p>
     
      <button type="submit" value="edit-submit" id="comment-btn" data-id='{{comment.post_id}}'>
        Submit
      </button>
    </form>
    </div>
    </div>

<script src="/js/post.js"></script>
<script src="/js/edit-comment.js"></script>