          {{!-- EDIT POST --}}
<div class="menu-container">
  <div class="card-header col-md-12 text-center">
  


            {{!--EDIT post --}}
  <div class="edit-post-container">
    <h2>
      Edit Post
    </h2>
    <form class="edit-post-form">
      <label for="post">
        Title:
      </label>
      <br />
      <textarea id="title" name="title" rows="2" cols="30">{{post.title}}</textarea>
      <br />
            {{!-- content --}}
      <label for="body">
        Content:
      </label>
      <br/>
      <textarea id="body" name="body" rows="5" cols="30">
      {{post.body}}
    </textarea>
    <br>
      {{!-- <label for="body">
        Posted by: {{post.User.username}}
      </label> --}}
      <br />
     
      <button type="submit" value="edit-submit">
        Submit
      </button>
    </form>
    </div>
    </div>



<script src="/js/edit-post-NEW.js"></script>
{{!-- <script src="/js/add-comment.js"></script> --}}