          {{!-- EDIT POST --}}
<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Your Dashboard
    </h2>
  {{!-- </div> --}}

            {{!--EDIT post --}}
  <div class="edit-post-container">
    <h2>
      Edit Post
    </h2>
    <form class="edit-post-form">
      <label for="post">
        Title
      </label>
      <br />
      <textarea id="title" name="title" rows="2" cols="30">
      {{title}}
    </textarea>
      <br />
            {{!-- content --}}
      <label for="body">
        Content:
      </label>
      <br />
      <textarea id="body" name="body" rows="5" cols="30">
      {{body}}
    </textarea>
      <br />
     
      <button type="submit" value="edit-submit">
        Submit
      </button>
    </form>
    </div>
  </div>
</div>

 {{#each comments as | comment | }}
<div>
 <ul class="list-group">
  <li class="list-group-item">{{comment.body}}</li>
  
</ul>
</div>
{{/each}}


<div class="menu-container">
  <div class="card-header col-md-12 text-center">
      <form class="new-comment-form">
      <label for="comment">
        Comment:
      </label>
      <br />
    <textarea id="comment" name="comment" rows="5" cols="30">
    {{comment}}
    </textarea>
    <br />

    <button type="submit" value="comment-submit">
      Submit
    </button>
    </form>
  </div>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/add-comment.js"></script>