  <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-center">
    <div class="col-md-9 col-lg-6 col-sm-12 col-10">

      <div class="col-6 mx-auto">
      
       <h2 class="card pb-2 pt-2 background-cream black-font black-border page-title tech-font text-center">Sign Up</h2>
       
       </div>
       <div id='modal-el' class="modal modal-opacity" tabindex="-1" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Important!</h5>
        <button type="button" class="btn-close modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please sign up or login to check out our page!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn2" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    <div class="text-center card thin-black-border background-cream mt-3 p-3">
 
    <form class="form signup-form">
    
      <div class="form-group">
     
        <label class='mt-2 tech-font' for="username-signup">Username</label>
        <br>
        <input style="width: 55%" class="mt-2 mb-2 form-input" type="text" id="username-signup" />

      </div>
      <div class="form-group">
        <label class="tech-font" for="email-signup">Email</label>
        <br>
        <input style="width: 55%" class="form-input mt-2 mb-2" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label class="tech-font" for="password-signup">Password</label>
        <br>
        <input style="width: 55%" class="form-input mt-2 mb-2" type="password" id="password-signup" />
   
      </div>
      <div class="form-group">
        <button class="btn background-red tech-font cream-font mt-2" type="submit">Sign Up</button>
      </div>
    </form>
    </div>
    </div>
    </div>
    </div>
<script src="/js/signup.js"></script>
